body { background-color: #3f3f3f; margin: 0; padding: 0; font-size: 13px; font-family: arial, helvetica, sans-serif; color: #fff; }
a { color: #679ac5; }

#container { padding: 0 12px 9px; }
#header { float: right; width: 100px; height: 120px; background: url('images/ico-list.png') no-repeat 99% 6px; }
#logo-floater { display: none; }
  #logo-floater h1 { margin: 0; }
  #logo-floater a span { display: none; }
  #logo-floater img { margin-top: 45px; }
#wrapper { background: url('images/bg-body.png') no-repeat 100% 0; }
#sidebar-left { padding-top: 45px; }
  #sidebar-left .block h2 { margin: 0 0 12px; }
  
#user-login-form { text-align: left; }
#user-login-form ul { padding: 0; }
#user-login-form li { margin: 0; list-style-type: none; }

ul.menu { margin: 0; padding: 0; border-top: 1px solid #000; }
ul.menu li { margin: 0; padding: 0; background: #fff; border: 1px solid #000; border-top: 0; list-style: none; }

a.touch-area, ul.touch-menu li a { display: block; padding: 4px 6px; text-decoration: none; color: #000;  }
a.touch-area div.title { font-weight: bold; font-size: 125%; }

ul.tabs { border: 0; margin: 0; padding: 0; white-space: normal; }
ul.tabs li { border: 0; margin: 0; padding: 0; }
ul.tabs li a { margin: 0; }